---
import { getStore } from '../pages/api/store-sum';

const params = Astro.url.searchParams;
const id = params.get('id');
const dataStore = getStore();
const sum = dataStore.get(id);
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result Page</title>
</head>
<body>
    <h1>Sum Result: {sum}</h1>
</body>
</html>
