---
import { useState, useEffect } from 'react';
import React from 'react';
import DataFetcher from '../components/DataFetcher';

const urlParams = new URLSearchParams(globalThis.location.search);
const id = urlParams.get('id');
---

<html>
<head>
  <title>Página Astro</title>
</head>
<body>
  <DataFetcher id={id} />
</body>
</html>
