---
const sum = Astro.url.searchParams.get('sum') || '';
---

{sum ? <p>you searched for: {sum}</p> : null}


---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astro App</title>
</head>
<body>
    <h1>Sum: {sum}</h1>
    {sum ? <p>you searched for: {sum}</p> : null}
</body>
</html>
