---
import ApiData from '../components/ApiData.jsx';
---

<html lang="en">
  <head>
    <title>Astro with React</title>
  </head>
  <body>
    <h1>Welcome to Astro with React</h1>
    <ApiData />
  </body>
</html>
