---
import Perros from '../components/Perros.jsx';

const { searchParams } = Astro.url;
const sum = searchParams.get('sum');


---

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{"TEXTO NADA MAS"}</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f8f8f8;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      flex-direction: column;
    }
    .container {
      background-color: white;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      max-width: 600px;
      width: 100%;
      margin-bottom: 20px;
    }
    h1 {
      color: #333;
    }
    ul {
      padding-left: 20px;
    }
    ul li {
      margin-bottom: 5px;
    }
    .steps {
      margin-top: 20px;
    }
    .steps ol li {
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h2>Ingredientes</h2>

    <p>Resultado de la suma: {sum}</p>
    {sum && <p>Resultado de la suma: {sum}</p>}
  </div>
  <Perros />
</body>
</html>
