---
import GazeEventsComponent from '../components/GazeEventsComponent.jsx';

const queryParams = new URLSearchParams(window.location.search);
const gazeevents = queryParams.get('gazeevents');
if (gazeevents) {
  alert('Datos recibidos en la página .astro');
}
---

<html>
  <head>
    <title>Gaze Events Viewer</title>
  </head>
  <body>
    <GazeEventsComponent />
  </body>
</html>
