---
import GazeeventsComponents from '../components/GazeEventsComponent.jsx';
---



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicación en Astro</title>
</head>
<body>

  <GazeeventsComponents />
</body>
</html>