---
import GazeEventsComponent from '../components/GazeEventsComponent.jsx';
---

<html>
  <head>
    <title>Gaze Events Viewer</title>
  </head>
  <body>
    <GazeEventsComponent />
  </body>
</html>
